@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Prompt", sans-serif;
    background-color: black;
    padding: 0%;
    border: 0%;
}

.t {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.a {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.a::after {
    content: " ";
    width: 0%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 100;
    transition: 0.5s ease-in-out;
}

.a:hover::after {
    width: 25.5%;
}



.link-2 {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    margin: 0% 3% 0%;
}

.link-2::after {
    content: " ";
    width: 0%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 100;
    transition: 0.5s ease-in-out;
}

.link-2:hover::after {
    width: 28%;
}
