@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: initial;
    background-color: black;
    margin: 0%;
}

.t {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-bottom: 2cm;
}

.link {
    font-size: 25px;
    text-decoration: solid;
    color: white;
    border: black solid;
    padding-right: 5mm;
}

.link:hover {
    text-decoration: underline;
}

.a {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-decoration: solid;
}

.a:hover {
    text-decoration: underline;
}

/* .a::after {
    content: " ";
    width: 0%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 100;
    transition: 0.5s ease-in-out;
}

.a:hover::after {
    width: 25.5%;
} */


.link-2 {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-decoration: solid;
}

.link-2:hover {
    text-decoration: underline;
}

/* .link-2::after {
    content: " ";
    width: 0%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 100;
    transition: 0.5s ease-in-out;
}

.link-2:hover::after {
    width: 28%;
}

.img {
    width: 5%;
} */
